<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer__info">
          <p class="logo footer__logo">MoGo</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p><b>15k</b> followers</p>
        </div>
        <div class="social footer__social">
          <span class="social__heading">Follow us</span>
          <ul class="social__list">
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
            <li class="social__item"><a class="social__link" href="#">fb</a></li>
          </ul>
        </div>
        <div class="footer__subscribe">
          <form action="">
            <input type="text" placeholder="Your Email...">
            <button class="btn" type="submit" value="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="footer__heading">blogs</h3>
        <div class="blog">
          <a class="blog__item">
            <img src="/assets/img/blog-001.jpg" alt="blog-image">
            <div class="blog__desc">
              <h4 class="blog__h">Lorem ipsum dolor sit amet, 
                consectetur adipiscing</h4>
                <time class="blog__date" datetime="2016-01-09">9 Jan. 2016</time>
            </div>
          </a>
          <a class="blog__item">
            <img src="/assets/img/blog-001.jpg" alt="blog-image">
            <div class="blog__desc">
              <h4 class="blog__h">Lorem ipsum dolor sit amet, 
                consectetur adipiscing</h4>
                <time class="blog__date" datetime="2016-01-09">9 Jan. 2016</time>
            </div>
          </a>
          <a class="blog__item">
            <img src="/assets/img/blog-001.jpg" alt="blog-image">
            <div class="blog__desc">
              <h4 class="blog__h">Lorem ipsum dolor sit amet, 
                consectetur adipiscing</h4>
                <time class="blog__date" datetime="2016-01-09">9 Jan. 2016</time>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="footer__heading">instagram</h3>
        <div class="insta">
          <div class="insta__item" style="background-image: url('/assets/img/insta-001-thumb.jpg')" data-img="/assets/img/insta-001.jpg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-001-thumb.jpg')" data-img="/assets/img/insta-001.jpg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-001-thumb.jpg')" data-img="/assets/img/insta-001.jpg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-001-thumb.jpg')" data-img="/assets/img/insta-001.jpg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-001-thumb.jpg')" data-img="/assets/img/insta-001.jpg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-002.jpeg')" data-img="/assets/img/insta-002.jpeg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-002.jpeg')" data-img="/assets/img/insta-002.jpeg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-002.jpeg')" data-img="/assets/img/insta-002.jpeg"></div>
          <div class="insta__item" style="background-image: url('/assets/img/insta-002.jpeg')" data-img="/assets/img/insta-002.jpeg"></div>
        </div>
        <a href="#">View more photos</a>
      </div>
    </div>
  </div>
</footer>

<div class="modal">
  <div class="modal__body">
  </div>
</div>